@page "/counter"

<PageTitle>Add Budget</PageTitle>

@using BudgetPlanner.Blazor.Data
@using System.Globalization
@using BudgetPlanner.Domain.Entities
@inject BudgetService BudgetService

<h1>Counter</h1>

<EditForm Model="@budgetPosition" OnValidSubmit="@HandleValidSubmit">
    <InputText @bind-Value="budgetPosition.Description"/>
    <InputDate @bind-Value="budgetPosition.DueDate"/>
    <input type="number" value="@(budgetPosition.Ammount.ToString("G29"))" @onchange="@(e => budgetPosition.Ammount = decimal.Parse(e.Value.ToString(), NumberStyles.Any, CultureInfo.InvariantCulture))" />

    <button class="btn btn-primary" type="submit">Add</button>
</EditForm>

@code {

    private BudgetPosition budgetPosition = new BudgetPosition()
    {
            DueDate = DateOnly.FromDateTime(DateTime.Now),
            Description = "",
            BookingDate = DateOnly.MinValue,
            Tags = new List<string>
            {
                "Income",
                "NoTax"
            }
    };

    private void HandleValidSubmit()
    {
        BudgetService.StoreBudgetPosition(budgetPosition);
    }
}
