<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Budget Planner</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="iconify" data-icon="ant-design:home-filled" data-width="45" data-height="24" style="align-content:end" ></span> Home                
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balance">
                <span class="iconify" data-icon="ic:twotone-account-balance" data-width="45" data-height="24" ></span> Balance
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="positions">
                <span class="iconify" data-icon="fa-regular:money-bill-alt" data-width="45" data-height="24" ></span> Positions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="situation">
                <span class="iconify" data-icon="cil:balance-scale" data-width="45" data-height="24" ></span> Situation
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
